.programs {
    /* padding: 0rem 2rem;  */
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.programs_header {
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    justify-content: center;
}

.programs_categories {
    display: flex;
    gap: 1rem;
}
.category {
    background: var(--gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    justify-content: space-between;
    gap: 1rem;
    padding: 3rem;
    border-radius: 0.5rem;
}
.category>:nth-child(1) {
    width: 2rem;
    height: 2rem;
    fill: white;
}
.category>:nth-child(2) {
    font-weight: bold;
}
.category>:nth-child(3) {
    word-spacing: 0.4rem;
    font-size: 0.9rem;
    line-height: 1.5;
}
.category_button {
    display: flex;
    gap: 2rem;
    /* align-items: center; */
}
.category_button>img {
    width: 1rem;
    height: 1rem;
}
.category_button>button {
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.category:hover {
    cursor: grab;
    background: var(--planCard);
}


@media only screen and (max-width: 768px) {
    .programs_header {
        flex-direction: column;
        align-items: center;
        font-size: x-large;
        gap: 1rem;
        margin-top: 2rem;
    }

    .programs_categories {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
    }
}